/**
 * style.css
 */
body {
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	width: 600px;
	margin: 0 auto;
	background: #eee;
}

h1 {
	background: #036;
	color: white;
	padding: 1em 0;
	font-size: 2.5em;
	text-align: center;
	background-image: -moz-linear-gradient(
		center bottom,
		#1b4080 32%,
		#486bb3 72%
	);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, #1b4080),
		color-stop(0.72, #486bb3)
	);
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-shadow: #333 1px 1px 1px;
}

dt {
	font-size: 1.1em;
	margin-bottom: 0;
}
dd {
	margin-left: 0;
	margin-bottom: 2.5em;
}
dd p {
	margin: 1em 0;
}

a, a:visited {
	color: #06c;
}

/* search */
input[type=text] {
	width: 100%;
	border: 1px solid #aaa;
}
form p {
	text-align: center;
}

.container > div {
	clear: both;
	background: white;
	border: 1px solid #aaa;
	margin-bottom: 1em;
	padding: 0 1em 1em;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

ul {
	list-style-type: square;
	color: #06c;
}
li {
	margin-bottom: 0.5em;
}

#add {
	display: block;
	margin: 1em auto;
	width: 5em;
	background: #f30;
	color: white;
	padding: 0.5em;
	font-size: 2.5em;
	text-align: center;
	background-image: -moz-linear-gradient(
		center bottom,
		#c92200 32%,
		#ff3300 72%
	);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, #c92200),
		color-stop(0.72, #ff3300)
	);
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-shadow: #333 1px 1px 1px;
	text-decoration: none;
}
